image/
__pycache__
**/build/
**/*.egg-info/
**/dist/
*.so
exp/
wandb/
weights/
outputs/
.vscode
.idea
*/.DS_Store
**/*.out
Dockerfile
*.pth
*.npz
*log*
data/*
!data/*.py
!data/**/
data/3dp_clusters_processed/
